In [1]:
import pandas as pd
import numpy as np
for_2016=pd.read_csv('data_visitors/foreign_visitors/foreign_visitors_2016.csv')
for_2017=pd.read_csv('data_visitors/foreign_visitors/foreign_visitors_2017.csv')
for_2018=pd.read_csv('data_visitors/foreign_visitors/foreign_visitors_2018.csv')
for_2019=pd.read_csv('data_visitors/foreign_visitors/foreign_visitors_2019.csv')

In [3]:
for_16_17_18_19=pd.concat([for_2016,for_2017,for_2018,for_2019],axis=0,ignore_index=True)

In [6]:
df_2016=for_2016.pivot(index='district',columns='month',values='visitors')

In [9]:
df_2017=for_2017.pivot(index='district',columns='month',values='visitors')
df_2018=for_2018.pivot(index='district',columns='month',values='visitors')
df_2019=for_2019.pivot(index='district',columns='month',values='visitors')

In [11]:
df_2016['Year']=2016
df_2017['Year']=2017
df_2018['Year']=2018
df_2019['Year']=2019

In [19]:
dff=pd.concat([df_2016,df_2017,df_2018,df_2019],axis=0,ignore_index=False)

In [20]:
dff

month,April,August,December,February,January,July,June,March,May,November,October,September,Year
district,,,,,,,,,,,,,
Adilabad,0,2,0,0,2,4,0,2,0,0,0,0,2016
Bhadradri Kothagudem,,,0,,,,,,,0,0,,2016
Hyderabad,8402,12842,17620,29646,15865,17142,10284,13019,8522,8084,12808,9397,2016
Jagtial,,,0,,,,,,,0,0,,2016
Jangaon,,,0,,,,,,,2,0,,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vikarabad,,,,,,,,,,,,,2019
Wanaparthy,0,0,0,0,0,0,0,0,0,0,0,0,2019
Warangal (Rural),0,0,0,0,0,0,0,0,0,0,0,0,2019
Warangal (Urban),190,230,210,200,175,185,195,200,175,230,220,240,2019
Yadadri Bhongir,0,0,0,0,0,0,0,0,0,0,0,0,2019

In [18]:
df_2019

month,April,August,December,February,January,July,June,March,May,November,October,September,Year
district,,,,,,,,,,,,,
Adilabad,0,2,0,2,0,0,0,0,0,2,0,0,2019
Bhadradri Kothagudem,0,0,0,0,0,0,0,0,0,0,0,0,2019
Hyderabad,18267,22725,34084,25621,35920,27874,20077,21929,17317,32762,28706,34018,2019
Jagtial,0,0,0,0,0,0,0,0,0,0,0,0,2019
Jangaon,0,0,0,0,0,0,0,0,0,0,0,0,2019
Jayashankar Bhoopalpally,0,0,0,0,45,0,0,0,0,0,0,0,2019
Jogulamba Gadwal,16,42,11,6,36,37,22,22,20,45,13,25,2019
Kamareddy,0,0,0,0,0,0,0,0,0,0,0,0,2019
Karimnagar,0,0,0,0,0,0,0,0,0,0,0,0,2019
Khammam,0,0,0,0,0,0,0,0,0,0,0,0,2019
Komaram Bheem Asifabad,0,0,0,0,0,0,0,0,0,0,0,0,2019
Mahabubabad,0,0,0,0,0,0,0,0,0,0,0,0,2019
Mahbubnagar,34,44,26,29,45,47,28,28,20,68,37,34,2019
Mancherial,0,0,0,0,0,0,0,0,0,10,0,0,2019
Medak,0,0,0,0,0,0,0,0,0,0,0,0,2019
Medchal,,,,,,,,,,,,,2019
Mulugu,40,50,65,45,0,55,50,40,40,70,60,60,2019
Nagarkurnool,18,22,10,15,35,17,14,14,14,30,3,7,2019
Nalgonda,0,0,0,0,0,0,0,0,0,0,0,0,2019
Narayanpet,0,0,5,0,0,0,0,0,0,0,0,0,2019
Nirmal,0,0,0,0,0,0,0,0,0,0,0,0,2019
Nizamabad,0,0,0,1,0,0,0,0,0,0,0,0,2019
Peddapalli,0,0,0,0,0,0,0,0,0,0,0,0,2019
Rajanna Sircilla,0,0,0,0,0,0,0,0,0,0,0,0,2019
Ranga Reddy,,,,,,,,,,,,,2019
Sangareddy,0,0,0,0,0,0,0,0,0,0,0,0,2019
Siddipet,0,0,0,0,0,0,0,0,0,0,0,0,2019
Suryapet,0,0,0,0,0,0,0,0,0,0,0,0,2019
Vikarabad,,,,,,,,,,,,,2019
Wanaparthy,0,0,0,0,0,0,0,0,0,0,0,0,2019
Warangal (Rural),0,0,0,0,0,0,0,0,0,0,0,0,2019
Warangal (Urban),190,230,210,200,175,185,195,200,175,230,220,240,2019
Yadadri Bhongir,0,0,0,0,0,0,0,0,0,0,0,0,2019

In [21]:
for_16_17_18_19.to_csv('df2_for.csv')
dff.to_csv('df_for.csv')